node_modules
dist
.env
.DS_Store
.idea
.vscode

backend/node_modules
backend/dist
backend/.env

frontend/node_modules
frontend/dist
frontend/.env

infra/postgres-data
infra/redis-data
infra/mongo-data

*.tsbuildinfo
backend/prisma/backups/
